<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="com.puppycrawl.tools.checkstyle.Checker">
    <!-- Root Checks -->
    <module name="com.puppycrawl.tools.checkstyle.checks.header.RegexpHeaderCheck">
        <property name="headerFile" value="${headerLocation}" />
        <property name="fileExtensions" value="java" />
    </module>
    <module name="com.puppycrawl.tools.checkstyle.checks.NewlineAtEndOfFileCheck">
        <property name="lineSeparator" value="lf"/>
    </module>
    
    <!-- TreeWalker Checks -->
    <module name="com.puppycrawl.tools.checkstyle.TreeWalker">
        <!-- Annotations -->
        <module name="com.puppycrawl.tools.checkstyle.checks.annotation.AnnotationUseStyleCheck">
            <property name="elementStyle" value="compact" />
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.annotation.MissingOverrideCheck" />
        <module name="com.puppycrawl.tools.checkstyle.checks.annotation.PackageAnnotationCheck" />
        <module name="com.puppycrawl.tools.checkstyle.checks.annotation.AnnotationLocationCheck">
            <property name="allowSamelineSingleParameterlessAnnotation" value="false" />
        </module>

        <!-- Block Checks -->
        <module name="com.puppycrawl.tools.checkstyle.checks.blocks.EmptyBlockCheck">
            <property name="option" value="text" />
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.blocks.LeftCurlyCheck" />
        <module name="com.puppycrawl.tools.checkstyle.checks.blocks.RightCurlyCheck">
            <property name="option" value="alone" />
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.blocks.NeedBracesCheck" />
        <module name="com.puppycrawl.tools.checkstyle.checks.blocks.AvoidNestedBlocksCheck" />

        <!-- Class Design -->
        <module name="com.puppycrawl.tools.checkstyle.checks.design.FinalClassCheck" />
        <module name="com.puppycrawl.tools.checkstyle.checks.design.InterfaceIsTypeCheck" />
        <module name="com.puppycrawl.tools.checkstyle.checks.design.HideUtilityClassConstructorCheck" />
        <module name="com.puppycrawl.tools.checkstyle.checks.design.MutableExceptionCheck" />
        <module name="com.puppycrawl.tools.checkstyle.checks.design.InnerTypeLastCheck" />
        <module name="com.puppycrawl.tools.checkstyle.checks.design.OneTopLevelClassCheck" />

        <!-- Coding -->
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.CovariantEqualsCheck" />
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.EmptyStatementCheck" />
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.EqualsHashCodeCheck" />
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.InnerAssignmentCheck" />
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.SimplifyBooleanExpressionCheck" />
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.SimplifyBooleanReturnCheck" />
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.StringLiteralEqualityCheck" />
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.NestedForDepthCheck">
            <property name="max" value="3" />
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.NestedIfDepthCheck">
            <property name="max" value="3" />
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.NestedTryDepthCheck">
            <property name="max" value="3" />
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.MultipleVariableDeclarationsCheck" />
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.RequireThisCheck">
            <property name="checkMethods" value="false" />
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.coding.OneStatementPerLineCheck" />

        <!-- Imports -->
        <module name="com.puppycrawl.tools.checkstyle.checks.imports.AvoidStarImportCheck" />
        <module name="com.puppycrawl.tools.checkstyle.checks.imports.AvoidStaticImportCheck">
            <property name="excludes" value="org.assertj.core.api.Assertions.*" />
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.imports.IllegalImportCheck" />
        <module name="com.puppycrawl.tools.checkstyle.checks.imports.RedundantImportCheck" />
        <module name="com.puppycrawl.tools.checkstyle.checks.imports.UnusedImportsCheck" />
        <module name="com.puppycrawl.tools.checkstyle.checks.imports.ImportOrderCheck">
            <property name="groups" value="java,/^javax?\./,org.springframework,*,com.ctb" />
            <property name="separated" value="true" />
            <property name="option" value="bottom" />
            <property name="sortStaticImportsAlphabetically" value="true" />
        </module>
    </module>
    
    <module name="com.puppycrawl.tools.checkstyle.filters.SuppressionFilter">
        <property name="file" value="${suppressionsLocation}" />
    </module>
</module>
