<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trust</title>
    
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <img th:src="@{/images/noodle.jpg}" />
    <p />
    <h1>Restaurants</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Landmarks</th>
            <th>Menu</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="restaurant : ${restaurants}">
            <td th:text="${restaurant.name}"></td>
            <td><span th:each="landmark : ${restaurant.landmarks}" th:text="${landmark.name + ', '}"></span></td>
            <td th:text="${restaurant.menu}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/restaurants/add}" class="btn btn-default">Add a restaurant</a>
    <p />
    
    <h2>Messages</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message : ${messages}">
            <td th:text="${message.body}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/messages/add}" class="btn btn-default">Leave a message</a>
</div>
</body>
</html>