<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trust</title>
</head>
<body>
<div>
    <a th:href="@{/add}">New Restaurant</a>
    <h1>Restaurants</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="restaurant : ${restaurants}">
            <td th:text="${restaurant.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>