<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trust</title>
</head>
<body>
<div>
    <img th:src="@{/images/noodle.jpg}" />
    <p />
    <h1>Restaurants</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="restaurant : ${restaurants}">
            <td th:text="${restaurant.name}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/restaurants/add}">Add a restaurant</a>
    <p />
    
    <h2>Messages</h2>
    <table>
        <thead>
        <tr>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message : ${messages}">
            <td th:text="${message.body}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/messages/add}">Leave a message</a>
</div>
</body>
</html>