<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Trust - Add a Restaurant</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <h1>Add Menu</h1>
    
    <form action="#" th:action="@{/restaurants/menus/add}" method="post">
        <div class="form-group">
            <label for="restaurantId">Restaurant: </label>
            <select id="restaurantId" name="restaurantId" class="form-control">
                <option th:each="restaurant : ${restaurants}" th:value="${restaurant.id}" th:text="${restaurant.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="menuItemName">Menu item name: </label>
            <input type="text" id="menuItemName" name="menuItemName" class="form-control" />
        </div>
        <div class="form-group">
            <label for="menuItemFoodTypeName">Menu item food type: </label>
            <input type="text" id="menuItemFoodTypeName" name="menuItemFoodTypeName" class="form-control" />
        </div>
        <div class="form-group">
            <label for="menuItemPrice">Menu item price: </label>
            <input type="text" id="menuItemPrice" name="menuItemPrice" class="form-control" />
        </div>
        <div class="form-group">
            <label for="menuItemRating">Menu item rating: </label>
            <select id="menuItemRating" name="menuItemRating" class="form-control">
                <option th:each="ratingScore : ${ratingScores}" th:value="${ratingScore}" th:text="${ratingScore}"></option>
            </select>
        </div>
        <input type="submit" />
    </form>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign out" />
    </form>
</div>
</body>
</html>